<article id="comment{{ include.index }}" class="js-comment comment" itemprop="comment" itemscope itemtype="https://schema.org/Comment">
  <div class="comment__content-wrapper">
    <p class="comment__author" itemprop="author" itemscope itemtype="https://schema.org/Person">
        <span itemprop="name">{{ include.name }}</span>
    </p>
    <p class="comment__date">
      <i class="far fa-clock"></i>
      {% if include.date %}
        {% if include.index %}<a href="#comment{{ include.index }}" itemprop="url">{% endif %}
        <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.date | date: "%Y/%b/%-d %H:%M" }}</time>
        {% if include.index %}</a>{% endif %}
      {% endif %}
    </p>
    <div class="comment__text" itemprop="text">{{ include.message | markdownify }}</div>
  </div>
</article>
