---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

nav ul ul {
  margin-left: 0.5rem
}
.page__footer footer {
  margin-top: 1em
}
.page__content p, .page__content li, .page__content dl {
  font-size: 0.7rem
}
blockquote {
  border-left: 0.25em solid darkgray;
  background: lightgray;
}
.greedy-nav .visible-links a::before {
  background: grey;
}
.nav__list .nav__items .active {
  font-weight: bolder;
  text-decoration: underline;
}
.comment__content-wrapper {
  float: left;
  width: calc(100% - 1em);  
}
.page__comments {
  font-size: 0.7rem;
}
.page__comments-title {
  padding-top: 1rem;
  font-size: .75rem;
}
.comment__author, .comment__date {
  display: inline;
}
.comment__text {
  margin-left: 1rem;
}
.pagination--pager {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #FFF;
    background-color: #000;
  }
}